---
import { getCollection } from 'astro:content';

import BlogListItem from '../../components/BlogListItem.astro';
import PageLayout from '../../layouts/PageLayout.astro';
import BaseHead from '../../components/BaseHead.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

const posts = (await getCollection('tips')).sort((a, b) => {
  return b.data.date.valueOf() - a.data.date.valueOf();
});
---

<PageLayout>
  <BaseHead title={`${SITE_TITLE} | Blog`} description={`${SITE_DESCRIPTION}`} slot="meta" />
  <Fragment slot="main">
    <section>
      <ul>
        {
          posts.map((post) => {
            const formattedDate = new Date(post.data.date.getTime() + 24 * 60 * 60 * 1000).toLocaleDateString('en-us', {
              year: 'numeric',
              month: 'short',
              day: 'numeric',
            });
            return (
              <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
                <div class="title">
                  <a href={`/tips/${post.slug}`} class="unset hover:text-text-link">
                    {post.data.title}
                  </a>
                </div>
                <div class="text-text-muted text-sm italic">
                  <time datetime={post.data.date.toISOString()}>{formattedDate}</time>
                </div>
              </li>
            );
          })
        }
      </ul>
    </section>
  </Fragment>
</PageLayout>
